function Main.main 1
    call GridTest.new 0
    pop local 0
    push local 0
    call GridTest.run 1
    pop temp 0
    push local 0
    call GridTest.dispose 1
    pop temp 0
    push constant 0
    return